.card{
    margin-left: 5px;
}
.col-1{
    border: 2px solid black;
    height: 60px;
}
.Triplex-0-0{
    background-color: aqua;
}
.Triplex-0-6{
    background-color: aqua;
}
.Triplex-0-12{
    background-color: aqua;
}
.Triplex-0-18{
    background-color: aqua;
}
.Triplex-0-24{
    background-color: aqua;
}
.Triplex-0-4{
    background-color: aqua;
}
.Triplex-0-8{
    background-color: aqua;
}
.Triplex-0-16{
    background-color: aqua;
}
.Triplex-0-20{
    background-color: aqua;
}
